.containercard{
    /* border: 2px solid red; */
    width: 80%;
    /* margin-top: 20px; */
    /* display: flex; */
    /* flex-direction: row; */
    flex: 1;
    margin-bottom: 7%;
    align-self: center;
    padding-left: 10%;
}

.carddois{
    /* border: 2px solid purple; */
    text-align: left;
    border: double 5px #4e342e;
    padding-left: 2%;
    background-color: #fafafa;
    font-family: 'Alegreya SC', serif;
    font-size: 17px;
}
.title_info{
    font-size: 20px;
}

.safra{
    font-size: 17px;
    font-family: 'Alegreya SC', serif;
    height: 0.5vw;
    width: 100%;
}

@media(max-width: 1024px){
    .carddois{
        font-size: 15px;
    }

    .title_info{
        font-size: 15px;
    }
}

@media(max-width: 768px){
    .carddois{
        font-size: 13px;
    }

    .title_info{
        font-size: 13px;
    }
}
@media(max-width: 450px){
    .title_info{
        font-size: 15px;
    }
    .carddois{
        font-size: 12px;
    }

    .safra{
        font-size: 13px;
    }
}

