.containerproduct{
    display: flex;
    flex-direction: column;
    /* border: 2px red solid; */
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #383838;
    font-family: 'Alegreya SC', serif;
}

.prod{
    margin-top: 2%;
    border-top: 2px;
    border-right: 0px;
    border-bottom: 2px;
    border-left: 0px;
    border-style: solid;
    border-color: white;
    width: 25%;
    height: 5vh;
    font-size: 100%;
    align-self: center;
    /* text-align: center;
    justify-content: center; */
}

.divider_product{
    height: "1.2px";
    width: '35%';
    background-color: #fafafa; 
}

.news{
    color: #fafafa; 
    font-weight: 'bold'
}

.produc_subs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

