.containerproduct{
    display: flex;
    flex-direction: column;
    /* border: 2px red solid; */
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #383838;
    font-family: 'Alegreya SC', serif;
}

.produc_subs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: flex-end; */
}

.cont_title{
    /* border: 5px blue solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1%;
}

.title_prod{
    font-size: 100%;
    color: #fafafa;    
}

