.containerinformation{
    /* border-width: 1px;
    border-color: red; */
    width: 100%;
    /* border-style: solid; */
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex: 1;
}

.divinformationone{
    background-size: cover;
    width: 100%;
    background-image: url(../../Assets/one.jpg);
    filter: blur(0.5px);
    object-fit: cover;
    object-position: center;
    text-align: center;
}

.informationone{
    width: 100%;
    animation: sliderone 3s backwards;
    font-family: 'Alegreya SC', serif;
}

@keyframes sliderone {
    from{
        transform: translateX(-100%);
        opacity: -3;
    }
    to{
        transform: translateX(0%);
    }
}

.divinformationtwo{
    width: 100%;
    background-image: url(../../Assets/informationtwo.jpg);
    filter: blur(0.5px);
    background-size: cover;
    /* border: 3px solid red; */
    text-align: center;
}

.informationtwo{
    width: 100%;
    animation: slidertwo 3s backwards;
    font-family: 'Alegreya SC', serif;
}

.highlight{
    font-size: 20px;
}

@keyframes slidertwo {
    from{
        transform: translateY(-101%);
        opacity: -3;
    }
    to{
        transform: translateX(0);
    }
}

@media(max-width: 1024px){
    .highlight{
        font-size: 15px;
    }
}
@media(max-width: 768px){
    .highlight{
        font-size: 13px;
    }
}
@media(max-width: 450px){

    .containerinformation{
        flex-wrap: wrap-reverse;
    }
    .highlight{
        font-size: 15px;
    }
    
}
